.home {
    /* display: flex; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    padding: 20px;
}

h4 {
    text-align: center;
}
Button:hover{
    font-weight: bolder;
    background-color: rgb(234, 238, 242);
}

.cardmain:hover {
    transform: scale(1.02);
}

.CardActionArea:hover {
    background-color: white;
}